.presentation {
  @include flex-container-space-between-width($desktop-width);
  gap: 2rem;

  &__container {
    @include play-animation(appearFromBottom, $animation-duration, 0.1s);
  }

  &__title {
    color: $primary-color;
    font-size: 4rem;
    font-weight: 700;

    &-h2 {
      color: $tertiary-color;
      font-size: 2rem;
      font-weight: 400;
      margin: 1.25rem 0;
    }
  }

  &__description {
    color: $secondary-color;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  &__social {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;

    &-frame {
      width: 65px !important;
      height: 65px !important;
      border-radius: 1rem !important;
      background-color: $bg-secondary-color !important;
    }

    &-icon {
      width: 40px !important;
      height: 40px !important;
      color: $tertiary-color !important;
    }
  }

  &__avatar {
    width: 350px !important;
    height: 350px !important;
    background-color: $bg-secondary-color;
    @include play-animation(appearFromBottom, $animation-duration, 0.125s);
  }
}
