.presentation {
  @include flex-container-space-between-width($desktop-width);
  flex-wrap: wrap;
  gap: 8rem;

  &__wrapper {
    @include flex-container-center;
    gap: 3rem;
    width: 100%;
  }

  &__container {
    @include flex-container-column;
    @include play-animation(appearFromBottom, $animation-duration, 0.1s);
  }

  &__title {
    &-h1 {
      color: $primary-color;
      font-size: 4rem;
      font-weight: 700;
    }

    &-h2 {
      color: $tertiary-color;
      font-size: 2rem;
      font-weight: 400;
      line-height: 4.5rem;
    }
  }

  &__description {
    color: $secondary-color;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  &__social {
    &-links-container {
      display: flex;
      gap: 1rem;
      margin-top: 1.5rem;
    }

    &-frame {
      width: 65px !important;
      height: 65px !important;
      border-radius: 1rem !important;
      background-color: $bg-secondary-color !important;
    }

    &-icon {
      width: 40px !important;
      height: 40px !important;
      color: $tertiary-color !important;
    }
  }

  &__avatar {
    width: 400px !important;
    height: 400px !important;
    background-color: $bg-secondary-color;
    @include play-animation(appearFromBottom, $animation-duration, 0.2s);
  }

  &__stack {
    &-container {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      margin: auto;
      @include play-animation(appearFromBottom, $animation-duration, 0.3s);
    }

    &-item {
      @include flex-container-column;
      align-items: center;
      gap: 1rem;
      font-size: 2rem;
    }

    &-icon {
      width: 100px !important;
      height: 100px !important;
      color: $tertiary-color !important;
    }
  }
}
