.skills {
  @include flex-container-space-between-width($desktop-width);
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;

  &__container {
    @include flex-container-column;
    align-items: center;
    gap: 1rem;
    width: 45%;
    @include play-animation(appearFromBottom, $animation-duration, 0.1s);
  }

  &__title {
    font-size: 2.25rem;
  }

  &__list {
    @include flex-container-center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__skill {
    @include flex-container-column;
    align-items: center;
    gap: 1rem;

    &:hover {
      .skills__skill-icon {
        transform: scale(1.2);

        &--no-scale {
          transform: none;
        }
      }
    }

    &-icon {
      width: 4.5rem !important;
      height: 4.5rem !important;
      transition: transform 0.2s ease-in-out;
      padding: 0.5rem;
      border-radius: 1rem !important;
      background-color: $primary-color;
      box-shadow: 0px 4px 0px 0px $tertiary-color;
    }

    &-name {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 500;
    @include play-animation(appearFromBottom, $animation-duration, 0.15s);
  }
}
