.form {
  @include flex-container-column-width($mobile-width);
  gap: 1rem;
  padding: 4rem;
  background-color: $bg-secondary-color;
  border-radius: 1rem;
  opacity: 0;
  animation: appearFromBottom $animation-duration ease-in-out forwards 0.2s;

  &__container {
    @include flex-container-column-width($desktop-width);
    align-items: center;
    gap: 2rem;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 700;
    opacity: 0;
    animation: appearFromBottom $animation-duration ease-in-out forwards 0.1s;
  }

  &__input {
    @include text-field-style($primary-color, $secondary-color);
  }

  &__button {
    margin-top: 2rem !important;
    background-color: $symbol-color !important;
  }
}
