.contact {
  @include flex-container-column-width($desktop-width);
  align-items: center;
  gap: 1.5rem;

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    @include play-animation(appearFromBottom, $animation-duration, 0.1s);
  }

  &__form {
    @include flex-container-column-width(400px);
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: $bg-secondary-color;
    @include play-animation(appearFromBottom, $animation-duration, 0.125s);
    &-input {
      @include text-field-style;
      width: calc(100% - 2rem);
      margin: auto !important;
    }
    &-button {
      align-self: center;
      width: calc(100% - 2rem);
      background-color: $tertiary-color !important;
    }
  }
}
