.footer {
  @include flex-container-column;
  gap: 1rem;
  padding: 3rem 0;
  @include play-animation(appear, $animation-duration, 0.1s);

  &__container {
    @include flex-container-space-between-width($desktop-width);
  }

  &__text {
    align-self: center;
  }

  &__link {
    @include flex-container-align-center;
  }

  &__icon {
    margin-left: 0.5rem;
  }
}
