.footer {
  opacity: 0;
  @include flex-container-column;
  align-items: center;
  gap: 1rem;
  padding: $padding;
  animation: appearFromBottom $animation-duration ease-in-out forwards 0.1s;

  &__container {
    @include flex-container-space-between-auto($desktop-width, $width);
  }

  &__text {
    text-align: center;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-left: 0.5rem;
  }
}
