@media screen and (max-width: $desktop-width) {
  .accueil {
    padding-top: 3rem;

    &__container {
      flex-direction: column-reverse;
    }

    &__text {
      text-align: center;
    }

    &__title {
      font-size: 2rem;
      line-height: 3.5rem;

      &--highlight {
        font-size: 3rem;
      }
    }
  }
}
