.header {
  z-index: 1;
  @include flex-container-space-between-width($desktop-width);
  padding: 3rem 0;
  @include play-animation(appear, $animation-duration, 0.1s);

  &__title {
    &--highlight {
      margin-right: 1rem;
      color: $tertiary-color;
    }
  }

  &__list {
    @include flex-container-center;
    gap: 2rem;

    &:hover {
      li:not(:hover) {
        filter: brightness(0.5);
      }
    }
  }

  &__link {
    font-size: 1.2rem;
    transition: filter 0.2s ease-in-out;
  }
}
