@mixin flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-container-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-container-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-container-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-container-center-width($max-width) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: $max-width;
  margin: auto;
}

@mixin flex-container-space-between-width($max-width) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: $max-width;
  margin: auto;
}

@mixin flex-container-column-width($max-width) {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: $max-width;
  margin: auto;
}

@mixin text-field-style() {
  .MuiInput-root {
    color: $primary-color;

    &:before {
      border-bottom-color: $secondary-color;
    }

    &:hover:not(.Mui-disabled, .Mui-error):before {
      border-bottom-color: $secondary-color;
    }

    &:after {
      border-bottom-color: $primary-color;
    }
  }

  .MuiInputLabel-root {
    color: $primary-color;

    &.Mui-focused {
      color: $primary-color;
    }
  }
}

@mixin buttons-categories-style() {
  .MuiButton-root {
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      border-color: $primary-color;
      background-color: $bg-secondary-color;
    }
  }
}

@mixin play-animation($animation-name, $animation-duration, $animation-delay) {
  opacity: 0;
  animation: $animation-name $animation-duration ease-in-out forwards;
  animation-delay: $animation-delay;
}
