@mixin flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-container-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-container-space-between-width($max-width) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-width;
  width: 90%;
  margin: auto;
}

@mixin flex-container-column-width($max-width) {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: $max-width;
  margin: auto;
}

@mixin text-field-style($color1, $color2) {
  .MuiInput-root {
    color: $color1;

    &:before {
      border-bottom-color: $color2;
    }

    &:hover:not(.Mui-disabled, .Mui-error):before {
      border-bottom-color: $color2;
    }

    &:after {
      border-bottom-color: $color1;
    }
  }

  .MuiInputLabel-root {
    color: $color1;

    &.Mui-focused {
      color: $color1;
    }
  }
}

@mixin play-animation($animation-name, $animation-duration, $animation-delay) {
  opacity: 0;
  animation: $animation-name $animation-duration ease-in-out forwards;
  animation-delay: $animation-delay;
}
