$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$text-primary-color: #ffffff;
$text-secondary-color: #a1a7b1;
$bg-primary-color: #1b1f24;
$bg-secondary-color: #2d343f;
$symbol-color: #015fe5;
$desktop-width: 1280px;
$laptop-width: 960px;
$mobile-width: 600px;
$width: 90%;
$padding: 3rem 0;
$animation-duration: 0.5s;
