$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$primary-color: #ffffff;
$secondary-color: #a1a7b1;
$tertiary-color: #015fe5;
$bg-primary-color: #1b1f24;
$bg-secondary-color: #2d343f;
$desktop-width: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 425px;
$animation-duration: 0.5s;
