@import "./utils/scss/variables.scss";
@import "./utils/scss/mixin.scss";
@import "./utils/scss/keyframes.scss";
@import "./styles/nav.scss";
@import "./styles/accueil.scss";
@import "./styles/competences.scss";
@import "./styles/contact.scss";
@import "./styles/footer.scss";
@import "./styles/media.desktop.scss";
@import "./styles/media.laptop.scss";
@import "./styles/media.mobile.scss";

* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  color: $primary-color;
  background-color: $bg-primary-color;
}

#root {
  @include flex-container-column;
  min-height: 100vh;
  overflow: hidden;
}

main {
  @include flex-container-center;
  flex: 1;
}

.bar {
  height: 8vw;
  width: 100%;
  margin: -4vw 0px;
  transform: rotate(-4deg) scale(1.2, 1);
  background-color: $bg-primary-color;
}

.white__background {
  background-color: $primary-color;
}
