@import "./utils/scss/variables.scss";
@import "./utils/scss/mixin.scss";
@import "./utils/scss/keyframes.scss";
@import "./styles/loading.bar.scss";
@import "./styles/nav.scss";
@import "./styles/accueil.scss";
@import "./styles/competences.scss";
@import "./styles/portfolio.scss";
@import "./styles/contact.scss";
@import "./styles/footer.scss";
@import "./styles/media_queries/tablet.scss";
@import "./styles/media_queries/mobile.scss";

* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  color: $primary-color !important;
  background-color: $bg-primary-color;
}

#root {
  @include flex-container-column;
  height: 100vh;
}

.main {
  @include flex-container-center;
  flex: 1;
}
